.banner{
    background-color: #5DB089;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}
.cadastro{
    text-align: center;
}
.botoes{
    background-color: #CBD5E1;
    color:#05001E;
    border: #05001E;
    border-radius: 5px;
    box-shadow: #a7a7a7 0 1px 1px;
    box-sizing: border-box;
    width: 170px;
    height: 30px;
    font-size: 17px;
    font: #000;
    font-family: 'League Spartan';
    cursor: pointer;
    padding: 10px 10px;
}
body{
    background-color: #fff;
}
h1, h3, h4, h5, h6, p{
    font-family: 'League Spartan';
    color:#05001E;
}
<<<<<<< HEAD
=======

h2 {
    font-family: 'League Spartan';
    color:#05001E; 
}
>>>>>>> 0eec304f720687586a4543760d1119c50415474e
